.journey {
  width: 80%;
  background-color: #3232b3;
  color: #dddddd;
  padding: 1rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 10px;
  transition: background .4s ease-in-out, scale .4s ease-in-out;
}

.journey:hover {
  background-color: #0707aa;
  scale: 1.02;
}

.journey img[alt="thumb"] {
  transition: scale .4s linear;
}

.journey:hover img[alt="thumb"] {
  scale: 1.4;
}

.journey div {
  display: flex;
  align-items: center;
}

.journey div h2 {
  margin-left: 1rem;
}

.journey img {
  width: 50px;
  height: 50px;
}

.tag {
  background-color: #ffffff27;
  padding: .5rem 1rem;
  width: fit-content;
  border-radius: 10px;
}
